<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>List of Customer</title>

    <th:block th:replace="cp/layout/head :: style-meta" />

    <th:block th:replace="cp/layout/head :: style-app" />
</head>


<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">

    <!-- Top Bar Start -->
    <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <a href="index.html" class="logo"><img src="/assets/images/logo.png" alt="logo-img"></a>
                <a href="index.html" class="logo-sm"><img src="/assets/images/logo_sm.png" alt="logo-img"></a>
            </div>
        </div>
        <!-- Button mobile view to collapse sidebar menu -->


        <!-- Topbar Start -->
        <th:block th:replace="cp/layout/navbar-custom" />
        <!-- end Topbar -->
    </div>
    <!-- Top Bar End -->


    <!-- ========== Left Sidebar Start ========== -->

    <th:block th:replace="cp/layout/left-side-menu" />
    <!-- Left Sidebar End -->

    <!-- Start right Content here -->

    <div class="content-page">
        <!-- Start content -->
        <div class="content">

            <div class="">
                <div class="page-header-title">
                    <h4 class="page-title">List of Customer</h4>
                </div>
            </div>
            <div class="page-content-wrapper ">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Age</th>
                                        <th>City</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        <td>20</td>
                                        <td>Cityname</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                        <td>20</td>
                                        <td>Cityname</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                        <td>20</td>
                                        <td>Cityname</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Steve</td>
                                        <td>Mac Queen</td>
                                        <td>@steve</td>
                                        <td>20</td>
                                        <td>Cityname</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div> <!-- content -->

        <!-- Footer Start -->
        <th:block th:replace="cp/layout/footer" />
        <!-- end Footer -->

    </div>
    <!-- End Right content here -->

</div>
<!-- END wrapper -->


<!-- jQuery  -->
<th:block th:replace="cp/layout/script :: script-js"/>


</body>
</html>